services:
  dragonfly:
    image: docker.dragonflydb.io/dragonflydb/dragonfly:latest
    ports:
      - "6379:6379"
    volumes:
      - dragonfly-data:/data
    command: >
      --maxmemory=2gb
      --dir=/data

volumes:
  dragonfly-data:
