apiVersion: v1
kind: Secret
metadata:
  name: github-repo-creds
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
stringData:
  url: https://github.com/ejkkan/batchsender
  password: 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
  username: not-used