apiVersion: 1

datasources:
  - name: ClickHouse
    type: grafana-clickhouse-datasource
    uid: clickhouse
    access: proxy
    jsonData:
      host: clickhouse
      port: 8123
      protocol: http
      defaultDatabase: default
      username: $__env{CLICKHOUSE_USER}
    secureJsonData:
      password: $__env{CLICKHOUSE_PASSWORD}
    editable: false
